<div class='container'>
	<div class='row contact-main'>
		<h2 class='text-center'><!-- Get In Touch --></h2>
	</div>
	<div class='row'>
		<div class='col-sm-7 col-xs-12'>
			<div class="component">
		        <a href="https://facebook.com/saidmaadan" target="_blank" class="icon icon-mono facebook">facebook</a>
		        <a href="https://twitter.com/saidmaadan" target="_blank" class="icon icon-mono twitter">twitter</a>
		        <a href="https://plus.google.com/+SaidMaadan-ms" target="_blank" class="icon icon-mono googleplus">google+</a>
		        <a href="https://github.com/saidmaadan" target="_blank" class="icon icon-mono github">github</a>
		        <a href="https://linkedin.com/in/saidmaadan" target="_blank" class="icon icon-mono rss">linkedin</a>
		     </div>
		</div>
		<div class='col-sm-4 col-xs-12'>
			<div class='contact-address text-center'>
				
				<i class='fa fa-phone '></i> 240-716-9907<br>
				<a href="mailto:said@maadan.me?Subject=Hello" target="_top"><i class='fa fa-envelope '></i> said[at]maadan.me</a>
			</div>
		</div>
		<div class='col-sm-1'></div>
	</div>
	<hr>
</div>

<div class='container'>
	<div class='row contact-main-top'>
		
		<div class='col-sm-6 contact-contact'>

		<div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title">Get in Touch and Say Hello</h2>
                </div>
			<div class='panel-body'>
				<%= form_for @contact do |f| %>
					<div class='form-group'>
						<%#= f.label :name, class: 'control-label' %>
						 <div class="input-group">
                          <span class="input-group-addon"><i class='fa fa-user'></i></span>
							<%= f.text_field :name, class: 'form-control', placeholder: 'Kelsey Miller' %>
						</div>
					</div>
					<div class='form-group'>
						<%#= f.label :email %>
						 <div class="input-group">
                          <span class="input-group-addon"><i class='fa fa-envelope'></i></span>
							<%= f.text_field :email, class: 'form-control', placeholder: 'yourname@company.com' %>
						</div>
					</div>
					<div class='form-group'>
						<%#= f.label :website %>
						<div class="input-group">
                          <span class="input-group-addon"><i class='fa fa-link'></i></span>
							<%= f.text_field :website, class: 'form-control', placeholder: 'http://yourcompany.com' %>
						</div>
					</div>
					<div class='form-group'>
						<%= f.label :comments, 'Message' %>
							<%= f.text_area :comments, class: 'form-control', cols: 40, rows: 7 %>
					</div>
					<div class='form-group'>
						<%= f.submit 'Send Message', class: 'btn btn-danger' %>
						
					</div>
				<% end %>
			</div>
		</div>
		</div>
		<div class='col-sm-6 contact-map'>
			<div id='map'>
				<iframe
				  
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9C6EQog9vhhMKUOtl4Y8EsbNKv1BApPQ
				    &q=12800+Harrisglenn+Drive,Austin,WA+78753&zoom=14" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
</div>
