<div class='project-display'>
	<div class='container'>
		<div class='row project-show'>
			<% @projects.each_slice(3) do |project| %>
				<% project.each do |project| %>
					<div class="col-sm-4 col-xs-12">
						<h3 class='text-center'><%= link_to project.name, project %></h3>
						<div class="photo photo-type-line">
		            		<a href="<%= project.screenshot.url   %>" class="photo-hover" data-lightbox="my-images" data-title="<%= project.name %>">
			              	<div class="photo-info">
			                	<div class="headline"><%= project.name %></div>
			                	<div class="line"></div>
			                	<div class="desc"><%= truncate(project.description, length: 180, separator: ' ') %>
			                		<br><br>
			                		<h4 class='text-center'>Live At: <br><%= project.url %></h4>

			                	</div>
			              	</div>

			              	<div class="mask"></div>
			            	</a>
			            	<div class="photo-img">

			            		<%= image_tag project.screenshot.url, class: 'img-responsive', style: "width:100%;height:300px;margin:auto;" %>
			            	</div>
		          		</div>
					</div>	
		    	<% end %>
			<% end %><br>
		</div>
	</div>
</div>

